main{
  background-image: url("https://drive.google.com/uc?id=1zCcHCrtVujNUMRMdhtzasbl80bNZdqwK");
  background-repeat: repeat;
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;

}

.nav-item{
  margin: 0 15px 0 15px;
}
